@import "@client/variables.scss";

#media-viewer {
  .media-tiles {
    display: flex;
    flex-flow: row wrap;

    a {
      text-decoration: none;
    }

    .media-tile {
      margin: 0 0 0 1rem;

      .display-as {
        font-size: 0.75rem;
        font-weight: 300;
        margin: 0.5em 0 1em 0;
      }
    }

    .media-tile-image {
      background-color: $dm-background-2;
      color: white;
      border-radius: 0.25rem;
      user-select: none;
      position: relative;

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        border-radius: 0.25rem;
      }

      div {
        position: relative;
        text-shadow: 1px 1px 1px $dm-shadow;
      }

      .more {
        .play {
          display: none;
        }

        .file-menu-entry {
          display: none;
        }
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  #media-viewer {
    .media-tiles {
      .media-tile-image {
        &:hover,
        &.active {
          .more {
            display: flex;
          }
        }
      }
    }
  }
}

// Cell phones (portrait) - 3 tiles wide
@media screen and (min-width: 0px) and (max-width: 511px) {
  #media-viewer .media-tiles {
    .media-tile {
      /* 1/3 vw - 4/3rem */
      width: calc(100vw / 3 - 1rem - 1rem / 3);

      &:nth-of-type(3n + 1) {
        margin-left: 0;
      }
    }

    .media-tile-image {
      /* 1/3 vw - 4/3rem */
      width: calc(100vw / 3 - 1rem - 1rem / 3);
      height: calc(100vw / 3 - 1rem - 1rem / 3);
    }
  }
}

// Tablets (portrait) & cell phones (landscape)  - 5 tiles wide
@media screen and (min-width: 512px) and (max-width: 843px) {
  #media-viewer .media-tiles {
    .media-tile {
      margin: 0 0 0 1.5rem;

      /* 1/5vw - 9/5rem */
      width: calc(100vw / 5 - 1.8rem);

      &:nth-of-type(5n + 1) {
        margin-left: 0.5rem;
      }

      .display-as {
        font-size: 0.85rem;
      }
    }

    .media-tile-image {
      /* 1/5vw - 9/5rem */
      width: calc(100vw / 5 - 1.8rem);
      height: calc(100vw / 5 - 1.8rem);
    }
  }
}

// Regular screens
@media screen and (min-width: 844px) {
  #media-viewer {
    .media-tiles {
      justify-content: flex-start;

      .media-tile {
        padding: 1rem 1rem 0 1rem;
        margin: 0;
        width: 13rem;
        max-width: none;

        .display-as {
          font-size: 1rem;
          margin: 0.5em 0 0 0;
        }
      }

      .media-tile-image {
        height: 11rem;
        width: 11rem;

        .more {
          border-radius: 0.25rem;
          height: 100%;
          width: 100%;
          justify-content: center;
          align-items: center;
          display: none;
          background-color: $dm-background-2-transparent;
          border: 1px solid $primary-dark;

          .play {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            background-color: $dm-font;
            box-shadow:
              rgba(0, 0, 0, 0.4) 0px 2px 4px,
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
              rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;

            &:hover {
              svg path {
                color: $primary;
              }
            }

            svg path {
              margin: 0;
              font-size: 2rem;
              color: $primary-dark;
              transition: color 0.2s;
            }
          }

          .file-menu-entry {
            position: absolute;
            display: flex;

            bottom: calc(5%);
            right: calc(5% - 0.25rem);
          }
        }
      }
    }
  }
}
