@import "@client/variables.scss";

#media-viewer {
  .media-tiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &::after {
      content: "";
      // If we ever don't have a full row of 3 images, this moves the last one over
      width: calc(33.33vw - 1.5rem);
    }

    a {
      text-decoration: none;
    }

    .media-tile-wrapper {
      width: calc(33.33vw - 1.5rem);

      .display-as {
        font-size: 0.75rem;
        margin: 0.25rem 0 0.5rem 0;
      }
    }

    .media-tile {
      background-color: $dm-background-2;
      color: white;
      border-radius: 0.25rem;
      height: calc(33.33vw - 1.5rem);
      width: calc(33.33vw - 1.5rem);
      transition: 0.2s;
      user-select: none;
      position: relative;

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        border-radius: 0.25rem;
      }

      div {
        position: relative;
        text-shadow: 1px 1px 1px $dm-shadow;
      }

      .more {
        border-radius: 0.25rem;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: none;
        background-color: $dm-background-2-transparent;
        border: 1px solid $primary-dark;

        .play {
          height: 1.8rem;
          width: 1.8rem;
          border-radius: 50%;
          background-color: $dm-font;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1rem;

          &:hover {
            .fa-circle-play {
              color: $primary;
            }
          }

          .fa-circle-play {
            margin: 0;
            font-size: 2rem;
            color: $primary-dark;
            transition: color 0.2s;
          }
        }

        .file-menu-entry {
          position: absolute;
          display: flex;
          padding: 0.25rem 0.5rem;
          bottom: calc(5% - 0.25rem);
          right: calc(5% - 0.25rem);
        }

        &.active {
          display: flex;
        }
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  #media-viewer {
    .media-tile {
      &:hover,
      &.active {
        .more {
          display: flex;
        }
      }
    }
  }
}

// iPads
@media screen and (min-device-width: 768px) {
  #media-viewer {
    .media-tiles {
      &::after {
        max-width: 75%;
        width: 100%;

        min-width: 25%;
      }

      .media-tile-wrapper {
        width: calc(25vw - 1.25rem);
      }

      .media-tile {
        height: calc(25vw - 1.25rem);
        width: calc(25vw - 1.25rem);
      }
    }
  }
}

// Regular screens
@media screen and (min-width: 844px) {
  #media-viewer {
    .media-tiles {
      justify-content: flex-start;

      .media-tile-wrapper {
        padding: 1rem 1rem 0 1rem;
        width: 13rem;
        max-width: none;

        .display-as {
          font-size: 1rem;
        }
      }

      .media-tile {
        height: 11rem;
        width: 11rem;
      }
    }
  }
}
