@import "@client/variables.scss";
@import "@client/mixins.scss";
@import "@client/font.scss";

* {
  box-sizing: border-box;

  /* Track */
  &::-webkit-scrollbar-track {
    background: $dm-background;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #aaa;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }
}

a.regular {
  color: $dm-font;
  text-decoration: none;

  &:active,
  &:active {
    color: $dm-font;
  }
}

.link {
  color: lightblue;
  cursor: pointer;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
  color: $dm-font;
  font-family: "Main-Font", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

h2 {
  text-shadow: 1px 1px 1px $dm-shadow;
}

#root {
  height: 100%;
}

#app {
  background-color: $dm-background;
  height: 100%;
  display: flex;
  flex-direction: column;

  &:not(.view-library) #library,
  &:not(.view-search) #main-search,
  &:not(.view-settings) #app-settings {
    visibility: hidden;
    pointer-events: none;
  }

  &:not(.view-router) #native-router {
    display: none;
  }

  #native-router {
    overflow: hidden;
  }

  #virtual-router {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    > div {
      position: absolute;

      overflow-y: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.align-right {
  text-align: right;
}

.mono {
  font-family: "Monospaced-Font", monospace;
  font-weight: 200;
}

.wide {
  width: 100%;
}

.fullscreen {
  background-color: $dm-background-2;
  @include fullscreen;
  z-index: 3;
  margin: 0;

  &.transparent {
    background-color: $dm-background-2-transparent;
  }

  &.center-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .close {
      top: 1em;
      right: 1em;
    }
  }
}

.close {
  padding: 1em;
  text-align: right;
}

.dim {
  color: $dm-font-3;
}

@keyframes throbber {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.loading::before {
  animation: 1.5s linear infinite throbber;
  animation-play-state: inherit;
  border: solid 2px $dm-font;
  border-bottom-color: $primary;
  border-radius: 50%;
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

/* Don't show scrollbars on monitors simulating a mobile resolution */
@media (pointer: fine) and (min-width: 0px) and (max-width: 834px) {
  * {
    &::-webkit-scrollbar {
      width: 0rem;
    }
  }
}

/* Shrink scrollbars on monitors */
@media (pointer: fine) and (min-width: 844px) {
  * {
    &::-webkit-scrollbar {
      width: 0.35rem;
    }
  }
}
