@import "@client/variables.scss";

.album-view {
  .details {
    display: flex;
    align-items: flex-start;

    > * {
      margin: 0 1rem 1rem 0;

      h2 {
        margin-top: 0;
      }
    }

    .album-art {
      height: 128px;
      width: 128px;
      background-color: $dm-background-2;
      border-radius: 0.25rem;
      display: inline-flex;
    }

    .info {
      display: flex;
      flex-direction: column;
      height: 128px;
      justify-content: space-between;
      align-items: flex-start;

      h4 {
        margin: 0;
      }
    }

    img {
      border-radius: 0.25rem;
      width: 128px;
    }
  }

  .track {
    width: auto;
  }

  .play-icon {
    margin-left: 1rem;
    color: $primary-light;
  }

  .row-disc-separator {
    > div {
      width: 1rem;
      font-size: 1.1rem;
      font-weight: 400;
      color: $dm-font-3;
      overflow: visible;
      white-space: nowrap;
      margin-top: 1.25rem;

      margin-bottom: 0.25rem;
    }
  }
}

@media screen and (min-width: 512px) and (max-width: 843px) {
  .album-view {
    .details {
      > * {
        margin: 0.5rem 1rem 0.5rem 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 844px) {
  .album-view {
    .details {
      > * {
        margin: 1rem;
      }

      .album-art {
        height: 160px;
        width: 160px;
      }

      .info {
        height: 160px;
      }

      img {
        width: 160px;
      }
    }

    .track {
      width: 5rem;
    }
  }
}
