@import "@client/components/variables.scss";

.album-view {
  .details {
    display: flex;
    align-items: flex-start;

    > * {
      margin: 1rem;

      h2 {
        margin-top: 0;
      }
    }

    .album-art {
      height: 160px;
      width: 160px;
      background-color: $dm-background-2;
      border-radius: 0.25rem;
    }

    img {
      border-radius: 0.25rem;
    }
  }

  .track {
    width: 4rem;
  }

  .play-icon {
    margin-left: 1rem;
    color: $primary-light;
  }
}
