@use "@client/variables.scss" as *;

#file-info {
  display: flex;
  padding: 1rem;

  table {
    border-collapse: collapse;
    td {
      padding: 0.5rem 0;

      &:first-of-type {
        font-weight: 600;
        padding-right: 1rem;
        text-align: right;
      }

      &:nth-of-type(2) {
        text-align: left;
        color: $dm-font-3;
      }
    }
  }
}
