.file-menu-entry {
  color: $dm-font;
  width: 1.25rem;
  text-align: center;
  // Make sure it appears above the volume control on mobile
  z-index: 1;

  &:hover {
    color: $dm-font-2;
  }

  &.active {
    color: $primary-light;
  }
}

.file-menu {
  background-color: $dm-background-2;
  padding: 0 0 0.75rem 0;
  position: fixed;
  bottom: 0%;
  right: 0;
  left: 0;
  z-index: 3;
  text-align: left;

  > div:not(.title) {
    padding: 0.75rem 1rem;

    &:hover {
      background-color: $dm-background;
    }
  }

  .file-menu-subtext {
    margin-top: 0.5rem;
    font-size: 0.85rem;
  }
  .title {
    border-top: 1px solid $dm-background;
    border-bottom: 1px solid $dm-background;
    padding: 0.75rem 1rem;

    > div {
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and (min-width: 844px) {
  .file-menu {
    padding: 0.75rem 0;
    top: 100%;
    bottom: auto;
    right: 0;
    left: auto;
    width: 10rem;
    position: absolute;
    border-radius: 0.2rem;

    > div:not(.title) {
      padding: 0.4rem 1rem;
    }

    .title {
      display: none;
    }
  }
}
