.music-library {
  display: flex;
  align-items: flex-start;
  padding: 1rem 1rem 0 1rem;
  justify-content: space-between;

  .library-tools {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 512px) and (max-width: 843px) {
  .music-library {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
}

@media screen and (min-width: 844px) {
  .music-library {
    padding: 2rem 2rem 0 2rem;
  }
}
