.music-library {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;

  .library-tools {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 844px) {
  .music-library {
    padding: 2rem 2rem 0 2rem;
  }
}
