@import "@client/components/variables.scss";

#play-controls {
  border-top: 1px solid $dm-shadow;
  background-color: $dm-background-2;
  text-align: center;
  color: #ddd;
  padding: 0 0 1.5rem 0;

  .now-playing {
    font-size: 1.75rem;
    margin: 1rem;
    user-select: none;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    background-color: gray;
    border-radius: 50%;
    margin: 0 0.5rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .play {
    height: 3rem;
    width: 3rem;
  }
}
