@import "@client/components/variables.scss";

.scrubber-container {
  position: relative;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -1.5rem;
  margin-bottom: 1rem;

  .scrubber {
    background: $primary;
    height: 0.4rem;
    width: 100%;
    z-index: 1;
  }

  .slider {
    position: absolute;
    border-radius: 50%;
    height: 0.75rem;
    width: 0.75rem;
    background-color: $dm-font;
    top: calc(1.5rem - 0.4rem);
    display: none;
    margin-left: -0.375rem;
    z-index: 2;

    &.visible {
      display: flex;
    }
  }
}

@media screen and (min-width: 600px) {
  .scrubber-container {
    &:hover {
      .slider {
        display: flex;
      }
    }
  }
}
