@import "@client/components/variables.scss";

.phantom {
  width: 100%;
  height: 2rem;
  cursor: pointer;

  .scrubber {
    background: $primary;
    height: 0.4rem;
    width: 100%;
    position: relative;
  }
}
