@import "@client/components/variables.scss";

.search {
  margin: 1.5rem 0 0.5rem 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  .search-box {
    background-color: transparent;
    border: 1px solid $dm-font;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    cursor: pointer;
    width: 100%;
  }

  .search-results {
    position: absolute;
    top: calc(100% + 0.5rem);
    z-index: 3;
    max-height: 20rem;
    overflow: auto;
    width: 100%;

    .result {
      background-color: $dm-background-2;
      border-bottom: 1px dashed $dm-background;
      padding: 0.35rem 0.5rem;
      font-size: 0.75rem;
      cursor: pointer;
      user-select: none;

      .secondary {
        color: $dm-font-3;
      }

      &:hover {
        background-color: $dm-background;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .search {
    margin: 0;
    width: 25rem;

    .search-box {
      padding: 0.25rem 1rem;
    }
  }
}
