services:
  app:
    image: adalfonso/chill
    container_name: chill-app
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ${MEDIA_PATH}:/opt/app/media
      # Map work dir paths to (shared) named volumes
      - public_html:/usr/src/app/dist/client
      - app_data:/opt/app/data
    depends_on:
      - postgres
      - redis
      - elasticsearch

  postgres:
    image: postgres:16-alpine
    container_name: chill-database
    restart: unless-stopped
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

  redis:
    image: redis:7.0-alpine
    container_name: chill-cache
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD} --rename-command FLUSHDB "" --rename-command FLUSHALL "" --rename-command CONFIG ""
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - redis:/data/cache

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: chill-search
    restart: unless-stopped
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: -Xms512m -Xmx512m
      ELASTIC_PASSWORD: ${SEARCH_ENGINE_PASSWORD}
    volumes:
      - elastic_search:/usr/share/elasticsearch/data

  nginx:
    image: nginx:mainline-alpine
    container_name: chill-gateway
    restart: unless-stopped
    ports:
      - 3200:3200
    volumes:
      - public_html:/var/www/html:ro
      - app_data:/etc/nginx/html/images

      - ${SSL_PATH}/chill.crt:/etc/ssl/chill.crt:ro
      - ${SSL_PATH}/chill.key:/etc/ssl/chill.key:ro
      - ${NGINX_CONFIG_PATH}:/etc/nginx/conf.d
    depends_on:
      - app

volumes:
  app_data:
  postgres:
  redis:
  elastic_search:
  public_html:
