@import "@client/variables.scss";

.ui-error {
  color: #fb466a;
}

.ui-select {
  display: flex;
  flex-direction: column;
  height: calc(1em + 1rem + 2px);
  overflow: visible;
  z-index: 2;
  user-select: none;
  cursor: pointer;
  position: relative;

  .selection,
  .children > * {
    &:hover {
      background-color: $dm-background;
    }
  }

  .selection {
    background-color: $dm-background-2;
    border: 1px solid $dm-shadow;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1em;
    box-sizing: content-box;

    svg {
      margin-left: 1rem;
    }
  }

  .children {
    .selected {
      background-color: $dm-background;
    }

    &.hidden {
      visibility: hidden;
    }

    > * {
      background-color: $dm-background-2;
      padding: 0.5rem 1.25rem;
    }
  }
}

.ui-radio {
  display: flex;
  font-size: 1.25rem;

  div {
    background-color: $dm-background-2;
    border-top: 1px solid $dm-font-3;
    border-bottom: 1px solid $dm-font-3;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    color: $dm-font-3;
    transition: 0.2s color;
    transition: 0.2s background-color;

    &:hover {
      background-color: $dm-background;
    }

    &.active {
      background-color: $dm-background;
      color: $primary-very-light;
    }

    &:first-of-type {
      border-top-left-radius: 0.35rem;
      border-bottom-left-radius: 0.35rem;
      border-left: 1px solid $dm-font-3;
    }

    &:last-of-type {
      border-top-right-radius: 0.35rem;
      border-bottom-right-radius: 0.35rem;
      border-right: 1px solid $dm-font-3;
    }
  }
}

.ui-modal {
  padding: 2rem;
  background-color: $dm-background-2;
  border-radius: 0.25rem;
  border: 1px solid black;
  color: $dm-font;
  display: flex;
  flex-direction: column;
  align-items: center;

  .toolbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .close {
      transition: color 0.3s;
      color: $dm-font-3;
      margin-top: -1em;
      margin-right: -1em;

      &:hover {
        color: $dm-font;
      }
    }
  }
}

input {
  border: 1px solid $dm-font;
  background-color: transparent;
  color: $dm-font-2;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  cursor: pointer;
  outline: none;

  &:focus {
    border: 1px solid $primary-very-light;
  }
}

button {
  display: flex;
  border: 2px solid $dm-background-2;
  color: $dm-background;
  font-size: 1.25rem;
  padding: 0.5em 0.75em;
  background-color: $dm-font;
  border-radius: 0.25rem;
  transition: color 0.3s;
  justify-content: center;

  &:hover {
    background-color: $dm-font-2;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.icon-xxs {
  height: 1rem;
  width: 1rem;
  min-height: 1rem;
  min-width: 1rem;
}

.icon-xs {
  height: 1.25rem;
  width: 1.25rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.icon-sm {
  height: 1.5rem;
  width: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.icon-md {
  height: 1.75rem;
  width: 1.75rem;
  min-height: 1.75rem;
  min-width: 1.75rem;
}

.icon-lg {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
}

@media screen and (min-width: 844px) {
  .ui-radio,
  button,
  input {
    font-size: 1rem;
  }

  input {
    padding: 0.35rem 1rem;
  }
}
