@import "@client/components/variables.scss";

.ui-select {
  display: flex;
  flex-direction: column;
  height: calc(1em + 1rem + 2px);
  overflow: visible;
  z-index: 2;
  user-select: none;

  .selection,
  .children > * {
    &:hover {
      background-color: $dm-background;
    }
  }

  .selection {
    background-color: $dm-background-2;
    border: 1px solid $dm-shadow;
    padding: 0.5rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      margin-left: 1rem;
    }
  }

  .children {
    .selected {
      background-color: $dm-background;
    }

    &.hidden {
      visibility: hidden;
    }

    > * {
      background-color: $dm-background-2;
      padding: 0.35rem 1.25rem;
    }
  }
}
