@import "@client/variables.scss";

.playlists-view {
  width: 100%;
}

.playlist-panel {
  background-color: $dm-background-2;
  bottom: 0;
  padding: 2rem 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  transition: right 0.3s;
  width: 100%;
  z-index: 3;
  overflow-y: auto;

  &.docked {
    right: -100%;
  }

  .close {
    margin: -2em 0em 1rem 0;
    align-self: flex-end;
  }

  .title {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
  }

  .artist {
    font-size: 0.85rem;
    color: $dm-font-3;
  }

  .playlist-item {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1rem;

    &:hover {
      background-color: $dm-background;
    }

    .equalizer {
      display: flex;
    }
  }

  .cover {
    margin-right: 1rem;
    height: 48px;
    width: 48px;
    background-color: $dm-background;

    border-radius: 0.25rem;
    > img {
      border-radius: 0.25rem;

      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .content {
    flex-grow: 1;
  }
}

@media screen and (min-width: 844px) {
  .playlists-view {
    width: auto;
  }

  .playlist-panel {
    width: 25rem;

    &.docked {
      right: -25rem;
    }
  }
}
