@import "@client/variables.scss";

.playlists-view {
  width: 100%;
}

.playlist-panel {
  background-color: $dm-background-2;
  bottom: 0;
  padding: 2rem 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  transition: right 0.3s;
  width: 100%;
  z-index: 3;
  overflow-y: auto;

  &.docked {
    right: -100%;
  }

  .close {
    margin: 0 2rem 1rem 0;
    text-align: right;
    align-self: flex-end;
    font-size: 2rem;
  }

  .title {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
  }

  .artist {
    font-size: 0.75rem;
  }

  .playlist-item {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 2rem;

    &:hover {
      background-color: $dm-background;
    }
  }

  .cover {
    margin-right: 1rem;
  }

  .content {
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .playlists-view {
    width: auto;
  }

  .playlist-panel {
    width: 25rem;

    &.docked {
      right: -25rem;
    }
  }
}
