@import "@client/variables.scss";

.scrubber-container {
  position: relative;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -2rem;
  user-select: none;

  .scrubber {
    background: $primary;
    height: 0.4rem;
    width: 100%;
    z-index: 1;
  }

  .slider {
    position: absolute;
    border-radius: 50%;
    height: 0.75rem;
    width: 0.75rem;
    background-color: $dm-font;
    top: calc(2rem - 0.4rem);
    display: none;
    margin-left: -0.75rem;
    z-index: 2;

    &.visible {
      display: flex;
    }
  }
}

.time-tracking {
  display: flex;
  justify-content: space-between;
  height: 1rem;

  > div {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  .scrubber-container {
    &:hover {
      .slider {
        display: flex;
      }
    }
  }
}
