@import "@client/variables.scss";

.volume-control {
  display: none;
}

@media screen and (min-width: 600px) {
  .volume-control {
    display: flex;
    width: 7rem;
    position: relative;
    height: 2rem;
    flex-direction: column;
    justify-content: center;
    margin-bottom: calc(-1rem + 0.375rem);

    &:hover .slider {
      display: block;
    }

    .volume-level {
      height: 0.25rem;
      background-color: $primary;
      z-index: 1;
    }

    .slider {
      position: absolute;
      border-radius: 50%;
      height: 0.75rem;
      width: 0.75rem;
      background-color: $dm-font;
      top: 0.65rem;
      display: none;
      margin-left: -0.375rem;
      z-index: 2;
    }

    .shell {
      height: 0.125rem;
      background-color: $dm-font-3;
      position: absolute;
      top: calc(50% - 0.0625rem);
      left: 0;
      right: 0;
      z-index: 0;
    }
  }
}
