#libraries {
  border-bottom: 1px solid black;
  display: flex;

  .library-title {
    padding: 0.75rem 1.5rem;
    transition: 0.2s;

    &:hover {
      background-color: rgba(25, 25, 25, 0.95);
      color: #ddd;
    }
  }
}
