@import "@client/variables.scss";

#app-settings {
  background-color: $dm-background-2;
  flex-grow: 1;

  .settings-header {
    margin: 1rem 0rem 2rem 1rem;
  }

  .settings-body {
    .settings-list {
      padding: 0 1rem;

      .settings-group {
        display: flex;
        flex-direction: column;
      }

      .app-setting {
        background-color: $dm-background;
        padding: 1rem;
        width: 100%;
        border: 1px solid $dm-background-2;
        border-bottom-width: 0;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='10' viewBox='0 0 6 10'><path d='M1 1l4 4-4 4' stroke='%23aaa' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/></svg>");
        background-repeat: no-repeat;
        background-position: right 1rem center;

        &:first-child {
          border-top-left-radius: 0.75rem;
          border-top-right-radius: 0.75rem;
        }

        &:last-child {
          border-bottom-left-radius: 0.75rem;
          border-bottom-right-radius: 0.75rem;
          border-bottom-width: 1px;
        }
      }
    }

    .settings-content {
      &.None {
        display: none;
      }

      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 1rem;
      background-color: $dm-shadow;
      overflow-y: scroll;

      > .setting {
        margin-bottom: 3rem;
        padding: 0 1rem;

        input {
          width: 100%;
        }
      }
    }
  }

  .setting-file-type-graph {
    > div {
      padding: 0.25rem 0.5rem;
      min-width: 3.25rem;
    }
  }

  .setting-artist-ambiguous-genre {
    .ambiguous-genre {
      margin: 0.5rem 1rem;
    }
  }

  .setting-invite-user {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 0.75rem;
    }
  }

  .ui-select option {
    z-index: 4;
  }
}

@media screen and (min-width: 844px) {
  #app-settings {
    height: 100%;

    .close {
      display: none;
    }

    .settings-header {
      padding: 1rem 2rem;
      border-top: 2px solid $dm-shadow;
      border-bottom: 2px solid $dm-shadow;
      margin: 0;
      flex: 0 0 auto;
      font-size: 2rem;
    }

    .settings-body {
      display: flex;
      height: 100%;
      font-size: 1rem;

      .settings-list {
        min-width: 22rem;
        width: 30%;
        padding: 1rem 0;

        h3 {
          margin: 1.5rem 2rem 1rem 2rem;
        }

        .app-setting {
          background-color: transparent;
          background-image: none;
          padding: 0.75rem 2rem;

          &:first-child {
            border-top-left-radius: 0rem;
            border-top-right-radius: 0rem;
          }

          &:last-child {
            border-bottom-left-radius: 0rem;
            border-bottom-right-radius: 0rem;
          }

          &:hover {
            background-color: $dm-shadow;
            border-radius: 0;
          }

          &.selected {
            background-color: $dm-shadow;
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='10' viewBox='0 0 6 10'><path d='M1 1l4 4-4 4' stroke='%23aaa' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/></svg>");
            background-repeat: no-repeat;
            background-position: right 1rem center;
          }
        }
      }

      .settings-content {
        padding: 2rem;
        flex: 1;
        background-color: $dm-shadow;
        position: static;

        > .setting {
          .ui-select,
          button,
          input {
            width: 18rem;
          }
        }

        .setting-invite-user {
          input[type="submit"] {
            width: 8rem;
          }
        }
      }
    }

    .setting-invite-user {
      display: block;

      input {
        margin: 0 0.5rem 0 0;
      }
    }
  }
}
