@import "@client/variables.scss";

#app-settings {
  > div {
    padding: 1rem;
    border-bottom: 1px solid $dm-background;

    &:last-of-type {
      border-bottom: 0;
    }

    &.settings > * {
      margin-bottom: 2rem;

      > * {
        margin-right: 1rem;
      }
    }

    &.settings > .setting {
      display: flex;
      align-items: center;

      > * {
        margin-right: 1rem;
      }
    }

    form {
      input {
        margin-top: 1rem;
      }
    }
  }

  .ui-select option {
    z-index: 4;
  }
}

@media screen and (min-width: 844px) {
}
