@import "@client/variables.scss";

#devices {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  background: $dm-background-2;
  width: calc(100% - 4rem);
  min-height: 15rem;
  padding: 1.5rem;
  border-radius: 8px;
  z-index: 1;

  .close {
    padding: 0;
  }
}

@media screen and (min-width: 844px) {
  #devices {
    width: 25rem;
  }
}
