@import "@client/variables.scss";

#devices {
  background: $dm-background-2;
  width: calc(100% - 4rem);
  min-height: 15rem;
  padding: 1.5rem;
  border-radius: 8px;
  z-index: 1;

  .close {
    padding: 0;
    margin-bottom: 1rem;
  }

  .device-client {
    padding: 0.75rem;

    &:hover {
      background-color: $dm-shadow;
      transition: background-color 0.3s;
    }

    > div {
      margin-top: 0.5rem;
      font-size: 0.8rem;
      color: $dm-font-3;
    }
  }
}

@media screen and (min-width: 844px) {
  #devices {
    width: 25rem;
  }
}
