@import "@client/variables.scss";

.search {
  padding: 1rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-input {
    background-color: $dm-background-2;
    height: 2.5rem;
    border-radius: 0.4rem;
    display: flex;
    width: 100%;

    input {
      border: transparent;
      border-radius: 0.25rem;
      background-color: $dm-background-2;
      width: 100%;
      padding: 0.5rem 0;
    }

    .search-icon,
    .search-clear {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.75rem;
    }

    .search-icon {
      color: $dm-font-3;
      font-size: 1rem;
      width: 3rem;
    }

    .search-clear {
      width: 3rem;
      padding-right: 1rem;
      .close {
        padding: 0;
        line-height: 1rem;
        color: $dm-font-3;
        cursor: pointer;
      }
    }
  }

  .search-results {
    margin-top: 1rem;
    overflow: auto;
    width: 100%;

    h4 {
      margin-bottom: 0rem;
      padding-bottom: 0.25rem;
      border-bottom: 1px solid $dm-font-5;
    }

    .result {
      padding: 0.35rem;
      font-size: 1rem;
      cursor: pointer;
      user-select: none;

      .secondary {
        color: $dm-font-3;
      }

      .ternary {
        color: $dm-font-4;
      }

      &:hover {
        background-color: $dm-background-2;
      }
    }
  }
}

@media screen and (min-width: 844px) {
  .search {
    .search-results {
      width: 25rem;
    }

    .search-input {
      width: 25rem;
    }
  }
}
