@import "@client/variables.scss";

.search {
  margin: 1.5rem 0 0.5rem 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    border: transparent;
    width: 100%;
  }

  .search-results {
    position: absolute;
    top: calc(100% + 0.5rem - 1px);
    z-index: 3;
    max-height: 26rem;
    overflow: auto;
    width: 100%;
    border-top: 1px dashed $dm-background;

    .result {
      background-color: $dm-background-2;
      border-bottom: 1px dashed $dm-background;
      padding: 0.35rem 1rem;
      font-size: 0.9rem;
      cursor: pointer;
      user-select: none;

      .secondary {
        color: $dm-font-3;
      }

      &:hover {
        background-color: $dm-background;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .search {
    margin: 0;
    width: 25rem;

    .search-results {
      border-top: none;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    input {
      border: 1px solid $dm-font;
      margin-bottom: 0;
    }
  }
}
