@import "@client/variables.scss";
@import "@client/mixins.scss";

#user-settings {
  @include fullscreen;
  background-color: $dm-background-2;

  z-index: 3;

  > div {
    padding: 1rem;
    border-bottom: 1px solid $dm-font-3;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .close {
    text-align: right;
  }
}

@media screen and (min-width: 844px) {
  #user-settings {
    position: absolute;
    bottom: auto;
    left: auto;
    top: 100%;
    width: 20rem;

    .close {
      display: none;
    }
  }
}
