@import "@client/components/variables.scss";

.album-view {
  width: 100%;

  .details {
    display: flex;
    align-items: flex-start;

    > * {
      margin: 1rem;

      h2 {
        margin-top: 0;
      }
    }
  }

  .track {
    width: 4rem;
  }

  .play-icon {
    margin-left: 1rem;
    color: $primary-light;
  }
}
