#media-viewer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 0 1rem 1rem 1rem;
  margin-top: 1rem;
  flex-grow: 1;

  .info {
    margin-left: 1rem;
  }

  .media-tiles {
    display: flex;
    flex-wrap: wrap;
  }
}

.panel-list {
  display: grid;
  grid-template-columns: fit-content(4em) 1fr fit-content(6em);
  user-select: none;

  .row {
    display: contents;

    &:hover > div {
      background-color: rgba(115, 115, 115, 0.95);
    }
  }

  .header {
    font-weight: bold;
  }

  .duration {
    justify-self: flex-end;
    padding: 0 1rem 0 0;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0 0.6rem 1rem;
  }
}
