#media-viewer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 1rem;
  flex-grow: 1;

  .toolbar {
    display: flex;
    flex-direction: column;
  }
  .media-tiles {
    display: flex;
    flex-wrap: wrap;
  }
}

.panel-list {
  display: grid;
  grid-template-columns: fit-content(4em) 1fr fit-content(6em);

  .row {
    display: contents;

    &:hover > div {
      background-color: rgba(115, 115, 115, 0.95);
    }
  }

  .header {
    font-weight: bold;
  }

  .mono {
    text-align: right;
  }

  div {
    padding: 0.6rem 1rem;
  }
}
