@import "@client/components/variables.scss";

#media-viewer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 0 1rem 1rem 1rem;
  margin-top: 1rem;
  flex-grow: 1;

  .info {
    margin-left: 1rem;
  }

  .media-tiles {
    display: flex;
    flex-wrap: wrap;
  }
}

.panel-list {
  display: grid;
  grid-template-columns: fit-content(4em) 1fr fit-content(6em);
  user-select: none;

  .row {
    display: contents;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.6rem 0 0.6rem 1rem;
    }

    &:hover {
      > div {
        background-color: rgba(115, 115, 115, 0.95);

        .duration {
          display: none;
        }

        .more {
          display: flex;
        }
      }
    }

    .tail {
      position: relative;
      justify-content: flex-end;

      &.show-options {
        .duration {
          display: none;
        }

        .more {
          display: flex;
        }
      }
    }

    .file-options {
      background-color: $dm-background-2;
      border-radius: 0.2rem;
      padding: 0.75rem 0;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 3;
      width: 10rem;

      > div {
        padding: 0.5rem 1rem;

        &:hover {
          background-color: $dm-background;
        }
      }
    }
  }

  .header {
    font-weight: bold;
  }

  .duration {
    justify-self: flex-end;
    padding: 0 1rem 0 0;
  }

  .more {
    display: none;
    padding: 0 1rem 0 0;
    justify-self: flex-end;

    svg {
      color: $dm-font-2;
    }

    &:hover {
      svg {
        color: #fff;
      }
    }
  }
}
