$dm-shadow: rgba(31, 29, 29, 0.97);
$dm-background: rgba(72, 69, 69, 0.97);
$dm-background-2: rgba(44, 41, 41, 0.97);
$dm-background-2-transparent: rgba(44, 41, 41, 0.7);
$dm-font: #eee;
$dm-font-2: #ccc;
$dm-font-3: #aaa;
$primary: rgb(43, 145, 254);
$primary-light: rgb(85, 167, 255);
$primary-dark: rgb(20, 114, 214);
