<!DOCTYPE html>
<html>
  <head>
    <title>Invite User</title>
  </head>
  <body>
    <h3>Invite New User</h3>
    <form action="/admin/invite" method="POST">
      Email:
      <input type="email" name="email" required />
      <input type="submit" />
    </form>
  </body>
</html>
