@import "@client/variables.scss";
@import "@client/components/App/MediaViewer/FileMenu.scss";

#media-viewer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 1rem;
  flex-grow: 1;

  .info {
    margin: 0 0 1rem 0;

    h2 {
      margin: 0;
      font-size: 1.25rem;
    }
  }

  .play-button {
    padding: 0.25rem 0.65rem 0.25rem 0.4rem;
    border-radius: 0.25rem;
    display: none;
    background-color: $primary;
    justify-content: space-between;
    align-items: center;
    color: $dm-font;
    transition: background-color 0.3s;
    cursor: pointer;

    svg {
      margin-right: 0.75rem;
    }

    &:hover {
      background-color: $primary-light;
    }
  }
}

.playlist-viewer {
  width: 100%;
}

.panel-list {
  display: grid;
  grid-template-columns: fit-content(5em) 1fr fit-content(6em) fit-content(4em);
  user-select: none;
  width: calc(100% + 2rem);
  margin-left: -1rem;
  font-size: 0.9rem;
  font-weight: 300;

  &.playlists {
    grid-template-columns: 1fr 1fr 1fr fit-content(4em);

    .row {
      .edit {
        justify-self: flex-end;
        margin-right: 1rem;
        cursor: pointer;
        transition: 0.3s color;

        &:hover {
          color: $primary-very-light;
        }
      }
    }
  }

  &.playlist-tracks {
    grid-template-columns: auto auto auto auto auto;
  }

  .row {
    display: contents;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.65rem 0 0.65rem 1rem;

      &:first-of-type {
        padding-left: 1rem;
      }
      &:last-of-type {
        padding-right: 1rem;
      }

      &.artist-track {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

      .playlist-item-title {
        color: $dm-font-3;
      }
    }

    .tail {
      position: relative;
      justify-content: flex-end;
      padding: 0;

      .file-menu-entry {
        width: 0.5rem;
        box-sizing: content-box;
        text-align: center;
        margin: -0.3rem -1rem -0.3rem 0;
        padding: 0.8rem 1.15rem;
      }
    }
  }

  .header {
    font-weight: bold;
  }

  .duration {
    justify-self: flex-end;
  }
}

// Only show row hover-highlight on desktop
@media (hover: hover) and (pointer: fine) {
  .panel-list {
    .row:hover > div {
      background-color: rgba(115, 115, 115, 0.95);
    }
  }
}

@media screen and (min-width: 512px) and (max-width: 843px) {
  #media-viewer {
    &.main-viewer {
      margin-top: 1.5rem;
      padding-top: 0;
    }

    .info {
      margin: 0.5rem 0.5rem 1.5rem 0.5rem;
    }
  }

  .panel-list {
    .row {
      > div {
        padding: 0.8rem 0 0.8rem 1.5rem;

        &:first-of-type {
          padding-left: 1.5rem;
        }

        &:last-of-type {
          padding-right: 1.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 844px) {
  #media-viewer {
    .info {
      margin: 1rem;

      h2 {
        margin: 0;
        font-size: 1.5rem;
      }
    }

    .play-button {
      display: inline-flex;
    }
  }

  .panel-list {
    .row {
      .tail {
        .file-menu-entry {
          margin-right: -1.15rem;
        }
      }

      > div {
        padding: 0.6rem 0 0.6rem 1rem;

        &:first-of-type {
          padding-left: 2rem;
        }

        &:last-of-type {
          padding-right: 2rem;
        }
      }
    }

    &.playlist-tracks {
      grid-template-columns: 4.5rem auto 4fr auto auto;
    }
  }
}
