@import "@client/components/variables.scss";
@import "@client/components/App/MediaViewer/FileMenu.scss";

#media-viewer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 0 1rem 1rem 1rem;
  margin-top: 1rem;
  flex-grow: 1;

  .info {
    margin-left: 1rem;
  }

  .play-button {
    padding: 0.25rem 0.65rem 0.25rem 0.4rem;
    border-radius: 0.25rem;
    display: inline-flex;
    background-color: $primary;
    justify-content: space-between;
    align-items: center;
    color: $dm-font;
    transition: background-color 0.3s;
    cursor: pointer;

    svg {
      margin-right: 0.75rem;
    }

    &:hover {
      background-color: $primary-light;
    }
  }

  .media-tiles {
    display: flex;
    flex-wrap: wrap;
  }
}

.playlist-viewer {
  width: 100%;
}

.panel-list {
  display: grid;
  grid-template-columns: fit-content(4em) 1fr fit-content(6em);
  user-select: none;

  &.playlists {
    grid-template-columns: 1fr 1fr 1fr fit-content(4em);

    .row {
      &:hover {
        .edit {
          display: flex;
        }
      }

      .edit {
        display: none;
        justify-self: flex-end;
        margin-right: 1rem;
        cursor: pointer;
        transition: 0.3s color;

        &:hover {
          color: $primary-very-light;
        }
      }
    }
  }

  &.playlist-tracks {
    grid-template-columns: auto auto 4fr 4fr auto;
  }

  .row {
    display: contents;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.6rem 0 0.6rem 1rem;

      &:last-of-type {
        padding-right: 1rem;
      }
    }

    &:hover {
      > div {
        background-color: rgba(115, 115, 115, 0.95);

        .duration {
          display: none;
        }

        .file-menu-entry {
          display: flex;
        }
      }
    }

    .tail {
      position: relative;
      justify-content: flex-end;

      &.show-menu {
        .duration {
          display: none;
        }

        .file-menu-entry {
          display: flex;
        }
      }
    }
  }

  .header {
    font-weight: bold;
  }

  .duration {
    justify-self: flex-end;
  }

  .file-menu-entry {
    display: none;
    justify-self: flex-end;
  }
}
