@import "@client/variables.scss";

#play-controls {
  border-top: 1px solid $dm-shadow;
  background-color: $dm-background-2;
  text-align: center;
  color: #ddd;
  padding: 0 0 1.5rem 0;

  .panel {
    display: flex;
    justify-content: space-between;

    > div {
      margin: 0 1rem;
      width: 20%;
    }

    .side-panel {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: flex-end;
    }

    .now-playing {
      font-size: 1.5rem;
      user-select: none;
      min-width: 64%;
      margin: 0;
    }
  }

  .controls {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    background-color: gray;
    border-radius: 50%;
    margin: 0 0.5rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .play {
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
  }

  .icons {
    > * {
      margin-left: 1rem;
    }

    svg {
      font-size: 1rem;
    }

    .active {
      color: $primary-light;
    }
  }

  .playlist {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 600px) {
  #play-controls {
    .circle-button {
      height: 2.5rem;
      width: 2.5rem;
      font-size: 1.25rem;
    }

    .panel {
      .now-playing {
        font-size: 1.75rem;
      }
    }

    .play {
      height: 3.5rem;
      width: 3.5rem;
      font-size: 1.75rem;
    }
  }
}
