@import "@client/variables.scss";
@import "@client/mixins.scss";

#play-controls-minimized {
  padding: 1rem;
  background-color: $dm-background-2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .controls {
    display: flex;
    align-items: center;
    flex-grow: 0;
    font-size: 1.5rem;

    > * {
      padding: 0 0.65rem;

      &:last-of-type {
        margin-right: -0.65rem;
      }
    }
  }
}

#play-controls {
  background-color: $dm-background-2;
  text-align: center;
  color: #ddd;
  padding: 1rem 0;
  @include fullscreen;
  display: flex;
  flex-direction: column;

  &.none,
  &.minimized {
    display: none;
  }

  > .content {
    flex-grow: 1;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    .controls {
      display: flex;
      justify-content: space-between;
    }

    .cover-wrapper {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      justify-content: center;

      .cover {
        border-radius: 0.25rem;
        width: calc(100vw - 4rem);
        height: calc(100vw - 4rem);
        background-color: $dm-background;
        box-shadow:
          rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px,
          rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px,
          rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin: 1rem 0;

        img {
          width: 100%;
          border-radius: 0.25rem;
          height: 100%;
        }
      }
    }
  }

  .panel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    > div {
      margin: 0 1rem;
    }

    .side-panel {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: flex-end;
    }

    .now-playing {
      font-size: 1.25rem;
      user-select: none;
      min-width: 64%;
      margin: 1rem 0;
      padding: 0 1rem;

      .controls {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .title {
        margin: 0 0 0.5rem 0;

        .artist {
          margin: 0.5rem 0;
        }

        .track-album {
          margin-top: 0.5rem;
          color: $dm-font-3;
        }

        .track-title {
          margin: 0 1.5rem;
          font-weight: 500;
        }

        .sub-title {
          margin-top: 0.5em;
          display: flex;
          justify-content: center;
          align-items: center;

          .file-type,
          .quality {
            font-size: 1rem;
            color: $dm-font-3;
          }
        }
      }
    }
  }

  .circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    background-color: gray;
    border-radius: 50%;
    margin: 0 0.5rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  .play {
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
  }

  .icons {
    display: flex;
    position: relative;

    > * {
      margin-left: 1em;
    }

    svg {
      font-size: 1.25rem;
    }

    .active {
      color: $primary-light;
    }
  }

  .playlist {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 844px) {
  #play-controls-minimized {
    display: none;
  }

  #play-controls {
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0 0 1rem 0;
    border-top: 1px solid $dm-shadow;

    &.none,
    &.minimized {
      display: flex;
    }

    > .content {
      display: none;
    }

    .circle-button {
      height: 2.5rem;
      width: 2.5rem;
      font-size: 1.25rem;
    }

    .panel {
      flex-direction: row;

      > div {
        margin: 0 2rem;
        width: 20%;
      }

      .now-playing {
        margin: 0 0 0.5rem 0;

        .title {
          margin: auto;
          margin-top: -1rem;

          .sub-title {
            .file-type,
            .quality {
              min-width: 3.5rem;
            }
          }
        }
      }
    }

    .icons {
      svg {
        font-size: 1rem;
      }
    }

    .play {
      height: 3.5rem;
      width: 3.5rem;
      font-size: 1.75rem;
    }

    .file-menu {
      top: auto;
      bottom: 2.25rem;
    }
  }
}

@media screen and (max-width: 844px) {
  #play-controls {
    .panel {
      .now-playing {
        font-size: 1rem;
        .title {
          .track-title {
            margin: 0 0.5rem;
          }

          .sub-title {
            justify-content: space-between;

            .file-type,
            .quality {
              font-size: 0.75rem;
              min-width: 3.5rem;
            }
          }
        }
      }

      .side-panel {
        .icons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 0.5rem;

          svg,
          div {
            margin: 0;
          }
        }
      }
    }
  }
}
