@use "@client/variables.scss" as *;
@use "@client/mixins.scss" as *;

.playlist-editor {
  @include fullscreen;
  background-color: $dm-shadow;
  display: flex;
  justify-content: center;
  align-items: center;

  .ui-modal {
    width: 100%;
    height: 100%;

    .ui-radio {
      margin: 2rem 0;
    }

    input,
    button {
      width: 100%;
      margin-top: 1rem;
    }
  }

  .search {
    width: 100%;
  }

  .selected-playlist {
    padding: 1rem 0;
  }
}

@media screen and (min-width: 844px) {
  .playlist-editor {
    .ui-modal {
      width: auto;
      height: auto;
    }
  }
}
