@import "@client/variables.scss";

#toolbar-top {
  background-color: $dm-background-2;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 1rem;

  .libraries {
    margin-left: 1rem;
    display: flex;

    > * {
      margin-right: 1.5rem;
      cursor: pointer;
      color: $dm-font-2;
    }
  }

  .tools {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;

    > svg {
      color: $dm-font-2;
      margin-left: 2rem;
      cursor: pointer;
    }
  }

  google-cast-launcher {
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media screen and (min-width: 512px) and (max-width: 843px) {
  #toolbar-top {
    padding: 1rem 0;
    > * {
      padding: 0 0.5rem;
    }
  }
}

@media screen and (min-width: 844px) {
  #toolbar-top {
    flex-wrap: nowrap;
    padding: 1rem 2rem;

    .libraries {
      width: 25%;
      order: 1;
      margin: 0;
    }

    .search {
      order: 2;
    }

    .tools {
      width: 25%;
      order: 3;
      margin: 0;
    }
  }
}
