@import "@client/components/variables.scss";

#toolbar {
  background-color: $dm-background-2;
  padding: 0.75em 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  .libraries {
    display: flex;

    > * {
      margin-right: 1.5rem;
      cursor: pointer;
    }
  }

  .tools {
    display: flex;
    justify-content: flex-end;

    > * {
      margin-left: 2rem;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 600px) {
  #toolbar {
    flex-wrap: nowrap;

    .libraries {
      width: 25%;
      order: 1;
    }

    .search {
      order: 2;
    }

    .tools {
      width: 25%;
      order: 3;
    }
  }
}
